# firedrake
*.pvd
*.vtu
*.npy
*.h5
# python
**/__pycache__/
# niot only 
test/*/runs/
*.svg
*.png
*.dat
*.sh
# visit 
*.session
*.session.gui
# editors
*vscode*
*~ 
# docs
*.pdf
**/runs/
**/evolution/