#############
# firedrake #
#############
*.pvd
*.ppvd
*.vtu
*.pvtu
*.npy
*.h5
##########
# python #
##########
**/__pycache__/
src/niot/niot.egg-info/
########
# niot #
########
test/*/runs/
*.svg
*.png
*.dat
*.sh
#########
# visit #
#########
*.session
*.session.gui
###########
# editors #
###########
*vscode*
*~ 
# docs
*.pdf
**/runs/
**/evolution/
*.err
*.out
*.log